ruby/*-*-*.def
ruby/*-*-*.exp
ruby/*-*-*.lib
ruby/*.a
ruby/*.bak
ruby/*.bc
ruby/*.dSYM
ruby/*.dmyh
ruby/*.dylib
ruby/*.elc
ruby/*.i
ruby/*.inc
ruby/*.log
ruby/*.o
ruby/*.obj
ruby/*.old
ruby/*.orig
ruby/*.pdb
ruby/*.rej
ruby/*.s
ruby/*.sav
ruby/*.swp
ruby/*.yarb
ruby/*~
ruby/.*-*
ruby/.*.list
ruby/.*.time
ruby/.DS_Store
ruby/.ccmalloc
ruby/.ext
ruby/.pc
ruby/.ppack
ruby/.svn
ruby/Makefile
ruby/cygruby*.def
ruby/extconf.h
ruby/y.output
ruby/y.tab.c
ruby/*.gcda
ruby/*.gcno
ruby/*.gcov
ruby/lcov*.info

# ruby/
ruby*-fake.rb
ruby/*.dll
ruby/*.exe
ruby/*.res
ruby/*.pc
ruby/*.rc
ruby/*_prelude.c
ruby/COPYING.LIB
ruby/Doxyfile
ruby/GNUmakefile
ruby/README.atheos
ruby/README.fat-patch
ruby/README.v6
ruby/TAGS
ruby/archive
ruby/autom4te*.cache
ruby/automake
ruby/beos
ruby/bmlog-*
ruby/breakpoints.gdb
ruby/config.cache
ruby/config.h
ruby/config.h.in
ruby/config.status
ruby/config.status.lineno
ruby/configure
ruby/coverage/simplecov
ruby/coverage/simplecov-html
ruby/coverage/doclie
ruby/coverage/.last_run.json
ruby/coverage/.resultset.json*
ruby/coverage/assets
ruby/coverage/index.html
ruby/doc/capi
ruby/enc.mk
ruby/encdb.h
ruby/exts.mk
ruby/goruby
ruby/id.[ch]
ruby/largefile.h
ruby/lcov-c-out
ruby/lcov-rb-out
ruby/lcov-out
ruby/lex.c
ruby/libruby*.*
ruby/miniprelude.c
ruby/miniruby
ruby/newdate.rb
ruby/newline.c
ruby/newver.rb
ruby/parse.c
ruby/parse.h
ruby/patches
ruby/patches-master
ruby/pitest.rb
ruby/ppack
ruby/prelude.c
ruby/preview
ruby/probes.dmyh
ruby/probes.h
ruby/rbconfig.rb
ruby/rename2.h
ruby/repack
ruby/revision.h
ruby/riscos
ruby/rubicon
ruby/ruby
ruby/ruby-runner
ruby/ruby-runner.h
ruby/ruby-man.rd.gz
ruby/run.gdb
ruby/sizes.c
ruby/test.rb
ruby/test-coverage.dat
ruby/tmp
ruby/transdb.h
ruby/uncommon.mk
ruby/verconf.h
ruby/verconf.mk
ruby/web
ruby/yasmdata.rb

# ruby/benchmark/
ruby/benchmark/bm_require.data
ruby/benchmark/bmx_*.rb
ruby/benchmark/fasta.output.*
ruby/benchmark/wc.input

ruby/enc/*.def
ruby/enc/*.exp
ruby/enc/*.lib
ruby/enc/jis/props.h
ruby/enc/unicode/data

# ruby/enc/trans/
ruby/enc/trans/*.c
ruby/enc/trans/*.def
ruby/enc/trans/*.exp
ruby/enc/trans/*.lib
ruby/enc/trans/.time

# ruby/exe/
ruby/exe/ruby
ruby/exe/.time

# ruby/ext/
ruby/ext/extinit.c
ruby/ext/configure-ext.mk
ruby/ext/*/exts.mk

# ruby/ext/-test-/win32/dln/
ruby/ext/-test-/win32/dln/dlntest.exp
ruby/ext/-test-/win32/dln/dlntest.lib

# ruby/ext/etc/
ruby/ext/etc/constdefs.h

# ruby/ext/fiddle/
ruby/ext/fiddle/libffi-*

# ruby/ext/rbconfig/
ruby/ext/rbconfig/sizeof/sizes.c
ruby/ext/rbconfig/sizeof/limits.c

# ruby/ext/ripper/
ruby/ext/ripper/eventids1.c
ruby/ext/ripper/eventids2table.c
ruby/ext/ripper/ripper.*
ruby/ext/ripper/ids1
ruby/ext/ripper/ids2

# ruby/ext/socket/
ruby/ext/socket/constants.h
ruby/ext/socket/constdefs.h
ruby/ext/socket/constdefs.c

# ruby/gems
ruby/gems/*.gem
ruby/gems/*-*

# ruby/spec/bundler
ruby/.rspec_status
ruby/spec/rspec

# ruby/tool/
ruby/tool/config.guess
ruby/tool/config.sub

# ruby/win32/
ruby/win32/*.ico
ruby/win32/.time
